<div class="chart-cards">
  <div class="row">
    <div class="col-md-5">Production</div>
    <div class="col-md-7">

      <button class="card-button export-button pointer">export</button>
      <button class="card-button print-button pointer">print</button>
      <button class="button-icon pointer">
        <fa-icon [icon]="['fas', 'sync-alt']"></fa-icon>
      </button>
      <button class="button-icon pointer ">
        <fa-icon [icon]="['fas', 'expand-arrows-alt']"></fa-icon>
      </button>
      <button class="button-icon pointer">
        <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
      </button>
    </div>
  </div>
  <hr />
  <div style="display: block">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
  </div>
  <button (click)="randomize()">Update</button>
</div>